:root{
    --dark-green: #063940;
    --light-green: #8ebdb6;
    --moss: #3e838c;
    --dark-moss: #195e63;
    --cream: #f8f1e9;
    --withe: #ffffff;
    --excel: #0E773F;
    --red: #ff0000;
    --dark-red: #a70202;
}

body{
    background-color: #ecf0f5;
}

/* Caja de formulario */
.box{
    box-shadow: none !important;
}

#print{
    margin-top: 15px;
    height: 110px;
    width: 222px;
}

/* Contenedor Código Barra */
.contenedor_codigo_barra{
    display: flex;
    justify-content: space-between;
}

#barcode{
    height: 110px !important;
}

/* Menu y body */
.skin-blue-light .wrapper, 
.skin-blue-light .main-sidebar, 
.skin-blue-light .left-side{
    background-color: var(--dark-green);
}

.skin-blue-light .treeview-menu>li.active>a, 
.skin-blue-light .treeview-menu>li>a:hover{
    font-weight: bold;
}

.skin-blue-light .content-wrapper, 
.skin-blue-light .main-footer {
    border-left: 1px solid var(--dark-green);
    background: var(--cream);
}

.skin-blue-light .sidebar-menu>li.header{
    background-color: var(--dark-green);
    color: var(--moss);
}

/* Lo que va a dentro del menu */
.skin-blue-light .sidebar a{
    color: var(--cream);
}

.skin-blue-light .sidebar-menu>li>.treeview-menu {
    background: var(--light-green);
}

.skin-blue-light .treeview-menu>li>a{
    color: var(--dark-green);
    font-size: 1.1em;
    text-shadow: -1px 1px 1px white;
    font-weight: 600;
}

.fa-circle-o{
    color: #f4f4f5;
}

.content{
    background: var(--cream);
}

html{
    background: var(--cream);
}

/* Para el form*/

.box-header.with-border {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--dark-green);
    color: var(--cream);
    border-bottom: 1px solid var(--dark-moss);
}

.box-header>.fa, 
.box-header>.glyphicon, 
.box-header>.ion, 
.box-header .box-title {
    font-size: 1.5em;
}

.small-box>.small-box-footer{
    color: var(--dark-green);
    font-weight: bold;
    background: var(--cream);
}

.box {
    background: var(--dark-green);
    border-top: 3px solid var(--moss);
    border-color: var(--grey);
}

.box-body{
    padding: 0px;
}

.box-title{
    font-size: 1.8em !important;
    width: 46%;
}

.boton-agregar{
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.bg-aqua, .callout.callout-info, 
.alert-info, 
.label-info, 
.modal-info .modal-body {
    background-color: var(--light-green) !important;
}

.bg-green, .callout.callout-success, 
.alert-success, 
.label-success, 
.modal-success .modal-body {
    background-color: var(--moss) !important;
}

.box.box-primary {
    border-top-color: var(--light-green);
}

/* Botones */

.btn-danger {
    margin-left: 5px;
}

.guardar{
    margin-right: 12px;
    margin-top: 16px;
    width: 143px;
    height: 35px;
    padding: 0;
    color: var(--cream);
    background-color: var(--dark-green) !important;
    border-color: var(--dark-green) !important;
    font-size: 1.3em;
}

.guardar:hover, .guardar:active, .guardar.hover{
    color: var(--cream) !important;
    background-color: var(--dark-moss) !important;
    border-color: var(--dark-moss) !important;
    font-weight: bold;
}

.cancelar{
    margin-top: 16px;
    width: 143px;
    height: 35px;
    padding: 0;
    color: var(--cream);
    font-size: 1.3em;
}

/* Caja para botones guardar y cancelar */
.botones{
    display: flex;
    justify-content: end;
}

.cancelar:hover, .cancelar:active, .cancelar.hover{
    color: var(--cream) !important;
    background-color: var(--red) !important;
    border-color: var(--red) !important;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
    background-color: var(--light-green);
}

.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active.focus, 
.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary.focus, 
.open>.dropdown-toggle.btn-primary:focus, 
.open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    border-color: var(--light-green);
}

.btn.active.focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn:active:focus, 
.btn:focus {
    /* outline: thin dotted; */
    outline: 0px auto -webkit-focus-ring-color; 
    outline-offset: 0px;
}

/* Excel */
.buttons-excel{
    background: var(--excel) !important;
    font-weight: 700;
    border: 1px solid var(--light);
    color: var(--withe) !important;
}

.buttons-excel:hover{
    box-shadow: 2px 2px var(--moss);
    font-size: .9em;
}

/* CSV */
.buttons-csv{
    background: var(--dark-green) !important;
    font-weight: 700;
    border: 1px solid var(--light);
    color: var(--withe) !important;
}

.buttons-csv:hover{
    box-shadow: 2px 2px var(--dark-moss);
    font-size: .9em;
}

/* PDF */
.buttons-pdf{
    background: var(--red) !important;
    color: var(--withe) !important;
    border: 1px solid var(--red) !important;
    font-weight: 700;
}

.buttons-pdf:hover{
    box-shadow: 2px 2px var(--dark-red);
    color: var(--withe) !important;
    font-size: .9em;
    font-weight: 700;
}

.btn-success {
    margin-right: 12px;
    /* margin-top: 16px; */
    width: 143px;
    height: 35px;
    padding: 0;
    background-color: var(--moss);
    border-color: var(--moss);
    font-size: 1.3em;
}

.btn-success:hover {
    color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

.btn-success:active{
    color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

.btn-success:active:focus{
        color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}
.btn-success.focus, .btn-success:focus {
    background-color: var(--dark-moss);
    border-color: var(--dark-moss);
}

.btn-info {
    margin-top: 16px;
    font-size: 1.3em;
    width: 143px;
    height: 35px;
    padding: 0;
    background-color: var(--dark-moss);
    border-color: var(--dark-moss);
}

.btn-info:hover {
    color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

.btn-info.focus, .btn-info:focus {
    background-color: var(--moss);
    border-color: var(--moss);
}

/* button.dt-button, div.dt-button, a.dt-button{
    font-weight: 700;
    border: 1px solid var(--light);
    color: var(--withe);
    background: var(--dark-green);
} */

/* .dt-button buttons-excel buttons-html5{
    font-weight: 700;
    border: 1px solid var(--light);
    background: var(--dark-green);
    color: var(--withe);
} */

.btn-warning.focus, .btn-warning:focus {
    color: var(--dark-green);
    background-color: var(--cream);
    border-color: var(--moss);
}

/* Btn activado */
.btn-primary.focus, .btn-primary:focus {
    color: var(--cream);
    background-color: var(--light-green);
    border-color: var(--light-green);
}

button.dt-button:hover:not(.disabled), 
div.dt-button:hover:not(.disabled), 
a.dt-button:hover:not(.disabled){
    border: 1px solid var(--moss);
    color: var(--dark-green);
    background: var(--cream); 
}

label {
    font-size: 1.1em;
    color: var(--dark-green);

}
.content {
    background: var(--crem);
}

.btn-info:hover, .btn-info:active, .btn-info.hover {
    color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

.btn-info.active.focus, 
.btn-info.active:focus, 
.btn-info.active:hover, 
.btn-info:active.focus, 
.btn-info:active:focus, 
.btn-info:active:hover, 
.open>.dropdown-toggle.btn-info.focus, 
.open>.dropdown-toggle.btn-info:focus, 
.open>.dropdown-toggle.btn-info:hover {
    color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

/* Boton agregar producto */
#btnAgregarArt{
    margin-top: 16px;
    font-size: 1.3em;
    width: 169px;
    height: 35px;
    padding: 0;
    background-color: var(--dark-moss);
    border-color: var(--dark-moss);
}

#btnAgregarArt{
    color: var(--light-green);
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

/* Estilos para código de barra */
.btn-generar-imprimir{
    display: flex;
    justify-content: end;
    align-items: baseline;
}
/* Colores de la tabla */
.panel-body {
    background: var(--cream);
    padding: 15px 0px;
}

div.dt-buttons {
    margin-bottom: 15px;
}

/* Columna de titulos head */

.table>caption+thead>tr:first-child>td, 
.table>caption+thead>tr:first-child>th, 
.table>colgroup+thead>tr:first-child>td, 
.table>colgroup+thead>tr:first-child>th, 
.table>thead:first-child>tr:first-child>td, 
.table>thead:first-child>tr:first-child>th{
    color: var(--dark-green);
    background-color: var(--cream);
}

/* Lineas de la tabla */
.dataTables_wrapper {
    width: 100%;
}

table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: border-box;
}

.table-bordered {
    border: 3px solid var(--dark-green);
}

table.dataTable thead th, table.dataTable thead td {
    border: 1px solid var(--dark-green);
}

#tbllistado{
    width: 100% !important;
}
table.dataTable, table.dataTable th, table.dataTable td {
    border-top: 2px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}
/* Boton editar*/
.btn-warning {
    background-color: var(--dark-moss);
    border-color: var(--dark-moss);
}

/* Botones desactivados */
.btn-primary {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

/*Color de las filas */
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: var(--dark-green);
}

/* Color para las filas desactivadas */
/* table.dataTable tbody tr {
    background-color: var(--dark-green);
} */

/* .table-hover>tbody>tr:hover {
    background-color: var(--moss);
} */

/* Letras de las filas */
table.dataTable tbody th, table.dataTable tbody td {
    color: var(--dark-green);
}

/* Color de las lineas  FOOTER y background*/
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid var(--dark-green);
    background-color: var(--cream);
}

/* Color boton de desactivado */
.bg-red, .bg-aqua,.callout.callout-danger, 
.alert-danger, 
.alert-error, 
.label-danger, 
.modal-danger .modal-body {
    background-color: var(--light-green) !important;
}

/* Footer columna titulos*/
tfoot{
    color: var(--dark-green);
}

.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
    color: var(--dark-green);
}

.dataTables_filter{}
/* Para el índice */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: var(--dark-green) !important;
}

/* Para el número del índice */
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: var(--cream) !important;
    background: var(--dark-green) !important;
} 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border: 2px solid var(--moss)!important ;
    color: var(--dark-green) !important;
    background: var(--cream) !important; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
/* btn editar */
.btn-warning:hover {
    border: 2px solid var(--moss)!important ;
    color: var(--dark-green) !important;
    background: var(--cream) !important; 
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: var(--moss) !important;
}

h1 .bg-red{
    background-color: #ff0000 !important;
}

/* Botonoes del formulario */
.btn-generar-imprimir{
    display: flex;
    justify-content: end;
}

.agregar_producto{
    width: 100%;
}
/* Inputs */

.btn-default {
    background-color: var(--withe);
    color: #444;
    border-color: #ddd;
    border-radius: 0;
}

.btn-default:hover, .btn-default:active, .btn-default.hover {
    background-color: var(--withe);
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 0px 0px rgb(0 0 0 / 13%);
    box-shadow: inset 0 0px 0px rgb(0 0 0 / 13%);
}

.btn-default.active, 
.btn-default:active, 
.open>.dropdown-toggle.btn-default {
    background-color: var(--withe);
    border-color: #ddd;
}

.btn-default:hover {
    border-color: #d2d6de;
}

.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active.focus, 
.btn-default:active:focus, 
.btn-default:active:hover, 
.open>.dropdown-toggle.btn-default.focus, 
.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    background-color: var(--withe);
    border-color: #d2d6de;
}

.btn:active {
    -webkit-box-shadow: inset 0 0px 0px !important;
    box-shadow: inset 0 0px 0px !important;
}

.btn.active, .btn:active {
    box-shadow: inset 0 0px 0px !important;
}

.form-control:focus {
    border-color: var(--moss);
}

.bootstrap-select .dropdown-toggle:focus {
    outline: 0px auto -webkit-focus-ring-color!important;
}

.dropdown-menu>.active>a, 
.dropdown-menu>.active>a:focus, 
.dropdown-menu>.active>a:hover {
    background-color: var(--moss);
}

.dropdown-menu>li>a:hover {
    background-color: var(--dark-green);
    color: var(--withe);
}

/* El puto hover del select */
.btn-default.focus, .btn-default:focus {
    background-color: var(--withe);
    border-color: #ddd;
}

/* Vista Usuario, permisos */
.label_permiso{
    margin-bottom: 0px;
}
#permisos{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.permis{
    margin-top: 14px;
    margin-right: 30px;
    display: flex;
}

.perm{
    margin-right: 9px !important;
    width: 19px;
    margin-top: 0 !important;
}

/* Modal */
#tblproductos{
    width: 100% !important;
    margin-bottom: 10px;
}

.cerrar_modal{
    color: var(--withe) !important;
    margin-top: 16px;
    font-size: 1.3em;
    width: 143px;
    height: 35px;
    padding: 0;
    background-color: var(--dark-moss);
    border-color: var(--dark-moss);
}

.cerrar_modal:hover{
    color: var(--light-green) !important;
    background-color: var(--dark-green);
    border-color: var(--light-green);
    font-weight: bold;
}

.close{
    color: var(--dark-green);
    opacity: 1;
}